.conteiner{
    display: flex;
    justify-content: space-evenly;
    
} 

.azul{
    height: 100px;
    width: 100px;
    background-color: blue;
}
.rojo{
    height: 100px;
    width: 100px;
    background-color: red;
}
.amarillo{
    height: 100px;
    width: 100px;
    background-color: yellow;
  
}