/*
font-family: 'Alfa Slab One', cursive;
font-family: 'Open Sans', sans-serif;
*/

footer {
    background-color: rgb(227, 227, 227);
}
h1,h2 {
    font-family: 'Alfa Slab One', cursive;
}
.hero{
    background: url(..//img//header.jpg) no-repeat;
    background-size: cover;
    height: 50vh;
    min-height: 550px;
    color: white;
}
.lista-novedades {
margin: 0;
padding: 0;
list-style: none;
}
.lista-novedades li {
    margin: 4px 0;
}
.lista-novedades li a {
    background-color: #fff;
    font-family:  'Alfa Slab One', cursive;
    font-size: 1.2rem;
    color: #a0a0a0;
    transition: all .2s ease-in-out;
    display: block;
}
.lista-novedades li a:hover{
    color: #212529;
    background-color: rgb(222, 213, 198);

}
.lista-novedades li a img{
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all ease-in-out;
    margin-right: 1rem;
    opacity: 0.7;
}
.lista-novedades li a:hover img{
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}
.testimonios {
background-color: rgb(222, 213, 198);
padding-bottom: 4rem !important;
}
.testimonio {
    text-align: center;
    padding: 50px 20px;
}
.staff{
    background: rgb(222, 213, 198);
}
html {
    scroll-behavior: smooth;
}
.menu li a:hover {
    color: #fff;
    background-color:black;
    
}
.menu li a {
    color: grey;
}